package main

import (
	"fmt"
	"sort"
)

func findMedian(N int, nums []int) float64 {
	a := make([]int, N)
	copy(a, nums)
	sort.Ints(a)
	if N%2 == 1 {
		return float64(a[N/2])
	}
	return float64(a[N/2-1]+a[N/2]) / 2
}

func main() {
	fmt.Println(findMedian(5, []int{3, 7, 2, 9, 1}))
}
