package main

import "fmt"

func solve(rectangles [][]int) int {
	// TODO: masalani yeching
	return 0
}

func main() {
	fmt.Println(solve([][]int{[]int{5, 8}, []int{3, 9}, []int{5, 12}, []int{16, 5}}))
}
