package main

import (
	"math"
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve(2)
	want := 161.0
	if math.Abs(got-want) > 1e-6 {
		t.Errorf("solve(x=2):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve(1)
	want := -10.0
	if math.Abs(got-want) > 1e-6 {
		t.Errorf("solve(x=1):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve(0)
	want := -7.0
	if math.Abs(got-want) > 1e-6 {
		t.Errorf("solve(x=0):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
