package main

import "fmt"

// pufakchaSaralash sonlarni bubble sort algoritmi yordamida
// o'sish tartibida saralaydi.
func pufakchaSaralash(sonlar []int) []int {
	// TODO: ikkita ichma-ich tsikl yordamida bubble sort'ni amalga oshiring
	return sonlar
}

func main() {
	fmt.Println(pufakchaSaralash([]int{5, 2, 9, 1, 7}))
}
