package main

import "fmt"

func solve(matrix [][]string) int {
	// TODO: masalani yeching
	return 0
}

func main() {
	fmt.Println(solve([][]string{[]string{"1", "0", "1", "0", "0"}, []string{"1", "0", "1", "1", "1"}, []string{"1", "1", "1", "1", "1"}, []string{"1", "0", "0", "1", "0"}}))
}
