package main

import "fmt"

func removeDuplicates(N int, arr []int) []int {
	// TODO: masalani yeching
	return []int{}
}

func main() {
	fmt.Println(removeDuplicates(7, []int{1, 2, 3, 2, 4, 3, 5}))
}
