package main

import "fmt"

func swapMinMax(N int, arr []int) []int {
	natija := make([]int, N)
	copy(natija, arr)
	minIdx := 0
	maxIdx := 0
	for i := 1; i < N; i++ {
		if natija[i] < natija[minIdx] {
			minIdx = i
		}
		if natija[i] > natija[maxIdx] {
			maxIdx = i
		}
	}
	natija[minIdx], natija[maxIdx] = natija[maxIdx], natija[minIdx]
	return natija
}

func main() {
	fmt.Println(swapMinMax(5, []int{3, 7, 2, 9, 1}))
}
