package main

import (
	"fmt"
	"net/http"
	"net/http/httptest"
)

// matnniOl url'ga GET so'rovi yuborib, javob tanasini string sifatida qaytaradi.
func matnniOl(url string) (string, error) {
	// TODO: http.Get bilan so'rov yuboring, javobni o'qing (io.ReadAll), qaytaring
	return "", nil
}

func main() {
	testServer := httptest.NewServer(http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		fmt.Fprintln(w, "Salom, mijoz!")
	}))
	defer testServer.Close()

	natija, _ := matnniOl(testServer.URL)
	fmt.Println(natija)
}
