package main

import "fmt"

// formatlash "Ism: <ism>, Yosh: <yosh>, Bo'y: <boy>" ko'rinishidagi
// matnni qaytaradi, boy nuqtadan keyin aniq 2 xona bilan.
func formatlash(ism string, yosh int, boy float64) string {
	// TODO: fmt.Sprintf yordamida uchta qiymatni birlashtiring
	return ""
}

func main() {
	fmt.Println(formatlash("Ali", 25, 1.7))
	fmt.Println(formatlash("Malika", 22, 1.685))
}
