package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve("aaabbc")
	want := "a3b2c1"
	if got != want {
		t.Errorf("solve(S='aaabbc'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve("aabbccdd")
	want := "a2b2c2d2"
	if got != want {
		t.Errorf("solve(S='aabbccdd'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve("abc")
	want := "a1b1c1"
	if got != want {
		t.Errorf("solve(S='abc'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
