package main

import "fmt"

// maydon to'rtburchakning yuzini hisoblaydi (uzunlik * kenglik).
func maydon(uzunlik, kenglik int) int {
	// TODO: uzunlik * kenglik ni qaytaring
	return 0
}

func main() {
	fmt.Println(maydon(4, 5))
	fmt.Println(maydon(10, 2))
}
