package main

import "fmt"

// TubSonmi n tub son bo'lsa true, aks holda false qaytaradi.
func TubSonmi(n int) bool {
	// TODO: n <= 1 bo'lsa false, aks holda 2 dan n gacha bo'linuvchi qidiring
	return false
}

func main() {
	fmt.Println(TubSonmi(7))
	fmt.Println(TubSonmi(8))
}
