package main

import "fmt"

func main() {
	// TODO: 1. temperature nomli float64 o'zgaruvchi yarating, qiymati 36.6 bo'lsin
	// TODO: 2. isRaining nomli bool o'zgaruvchi yarating, qiymati false bo'lsin
	// TODO: 3. Ikkalasini fmt.Println orqali, ikkita alohida qatorda chiqaring
}
