package main

import (
	"fmt"
	"sort"
)

func closestPair(N int, nums []int) string {
	a := make([]int, N)
	copy(a, nums)
	sort.Ints(a)
	minDiff := a[1] - a[0]
	for i := 1; i < N-1; i++ {
		d := a[i+1] - a[i]
		if d < minDiff {
			minDiff = d
		}
	}
	positions := []int{}
	for i := 0; i < N-1; i++ {
		if a[i+1]-a[i] == minDiff {
			positions = append(positions, i)
		}
	}
	pos := positions[(len(positions)-1)/2]
	return fmt.Sprintf("%d, %d", a[pos], a[pos+1])
}

func main() {
	fmt.Println(closestPair(5, []int{3, 7, 2, 9, 8}))
}
