package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve(1, 10)
	var want int = 30
	if got != want {
		t.Errorf("solve(low = 1, high = 10):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve(2, 2)
	var want int = 2
	if got != want {
		t.Errorf("solve(low = 2, high = 2):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve(3, 5)
	var want int = 4
	if got != want {
		t.Errorf("solve(low = 3, high = 5):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
