package main

import (
	"testing"
)

func TestTwoPositiveCase1(t *testing.T) {
	got := twoPositive(1, 5, -3)
	want := true
	if got != want {
		t.Errorf("twoPositive(A=1, B=5, C=-3):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestTwoPositiveCase2(t *testing.T) {
	got := twoPositive(1, 2, 3)
	want := false
	if got != want {
		t.Errorf("twoPositive(A=1, B=2, C=3):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestTwoPositiveCase3(t *testing.T) {
	got := twoPositive(-1, -2, 3)
	want := false
	if got != want {
		t.Errorf("twoPositive(A=-1, B=-2, C=3):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
