package main

import "fmt"

func solve(board [][]string, words []string) []string {
	// TODO: masalani yeching
	return []string{}
}

func main() {
	fmt.Println(solve([][]string{[]string{"o", "a", "a", "n"}, []string{"e", "t", "a", "e"}, []string{"i", "h", "k", "r"}, []string{"i", "f", "l", "v"}}, []string{"oath", "pea", "eat", "rain"}))
}
