package main

import "fmt"

func solve(word1 []string, word2 []string) bool {
	// TODO: masalani yeching
	return false
}

func main() {
	fmt.Println(solve([]string{"ab", "c"}, []string{"a", "bc"}))
}
