package main

import "fmt"

// sahifalash royxat'ning sahifa-raqamli (1dan boshlab), hajmi ta
// elementdan iborat qismini qaytaradi.
func sahifalash(royxat []string, sahifa, hajmi int) []string {
	// TODO: boshlanish/tugash indekslarini hisoblang, chegaralarni tekshiring
	return nil
}

func main() {
	royxat := []string{"a", "b", "c", "d", "e", "f", "g"}
	fmt.Println(sahifalash(royxat, 1, 3))
	fmt.Println(sahifalash(royxat, 2, 3))
	fmt.Println(sahifalash(royxat, 3, 3))
}
