package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve(10)
	var want int = 16
	if got != want {
		t.Errorf("solve(n = 10):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve(1)
	var want int = 0
	if got != want {
		t.Errorf("solve(n = 1):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve(2)
	var want int = 1
	if got != want {
		t.Errorf("solve(n = 2):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
