package main

import "fmt"

func solve(capacity int, ops []string, args [][]int) []int {
	// TODO: masalani yeching
	return []int{}
}

func main() {
	fmt.Println(solve(2, []string{"put", "put", "get", "put", "get", "get", "put", "get", "get", "get"}, [][]int{[]int{1, 1}, []int{2, 2}, []int{1}, []int{3, 3}, []int{2}, []int{3}, []int{4, 4}, []int{1}, []int{3}, []int{4}}))
}
