package main

import "fmt"

func localMinCount(N int, nums []int) int {
	count := 0
	for i := 1; i < N-1; i++ {
		if nums[i] < nums[i-1] && nums[i] < nums[i+1] {
			count++
		}
	}
	if N >= 2 && nums[N-1] < nums[N-2] {
		count++
	}
	return count
}

func main() {
	fmt.Println(localMinCount(7, []int{5, 2, 8, 1, 9, 3, 7}))
}
