package main

import (
	"testing"
)

func TestAtLeastOneOddCase1(t *testing.T) {
	got := atLeastOneOdd(7, 8)
	want := true
	if got != want {
		t.Errorf("atLeastOneOdd(A=7, B=8):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestAtLeastOneOddCase2(t *testing.T) {
	got := atLeastOneOdd(6, 8)
	want := false
	if got != want {
		t.Errorf("atLeastOneOdd(A=6, B=8):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestAtLeastOneOddCase3(t *testing.T) {
	got := atLeastOneOdd(7, 9)
	want := true
	if got != want {
		t.Errorf("atLeastOneOdd(A=7, B=9):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
