package main

import "fmt"

// minMax ro'yxatdagi eng kichik va eng katta sonlarni qaytaradi.
func minMax(royxat []int) (kichik, katta int) {
	// TODO: kichik va katta ni hisoblang, keyin yalang'och "return" yozing
	return
}

func main() {
	kichik, katta := minMax([]int{5, 2, 9, 1, 7})
	fmt.Println(kichik, katta)
}
