package main

import "fmt"

func solve(allowed string, words []string) int {
	// TODO: masalani yeching
	return 0
}

func main() {
	fmt.Println(solve("ab", []string{"ad", "bd", "aaab", "baa", "badab"}))
}
