package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve("A man, a plan, a canal: Panama")
	var want bool = true
	if got != want {
		t.Errorf("solve(s = \"A man, a plan, a canal: Panama\"):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve("race a car")
	var want bool = false
	if got != want {
		t.Errorf("solve(s = \"race a car\"):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve(" ")
	var want bool = true
	if got != want {
		t.Errorf("solve(s = \" \"):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
