package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve("hello")
	want := "l, 2"
	if got != want {
		t.Errorf("solve(S='hello'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve("programming")
	want := "r, 2"
	if got != want {
		t.Errorf("solve(S='programming'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve("aaabbc")
	want := "a, 3"
	if got != want {
		t.Errorf("solve(S='aaabbc'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
