package main

import "fmt"

func solve(envelopes [][]int) int {
	// TODO: masalani yeching
	return 0
}

func main() {
	fmt.Println(solve([][]int{[]int{5, 4}, []int{6, 4}, []int{6, 7}, []int{2, 3}}))
}
