package main

import "fmt"

// yigindiChannel sonlarni bitta goroutine orqali kanalga yuborib,
// asosiy funksiyada range bilan yig'ib, yig'indisini qaytaradi.
func yigindiChannel(sonlar []int) int {
	// TODO: goroutine ishga tushiring (yuborib, kanalni yoping), keyin range bilan yig'ing
	return 0
}

func main() {
	fmt.Println(yigindiChannel([]int{1, 2, 3, 4, 5}))
}
