package main

import "testing"

func TestKattaInt(t *testing.T) {
	got := Katta(3, 7)
	want := 7
	if got != want {
		t.Errorf("Katta(3, 7):\nExpected:\n%d\n\nGot:\n%d", want, got)
	}
}

func TestKattaFloat(t *testing.T) {
	got := Katta(3.5, 2.1)
	want := 3.5
	if got != want {
		t.Errorf("Katta(3.5, 2.1):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}

func TestKattaString(t *testing.T) {
	got := Katta("olma", "nok")
	want := "olma"
	if got != want {
		t.Errorf("Katta(\"olma\", \"nok\"):\nExpected:\n%s\n\nGot:\n%s", want, got)
	}
}

func TestKattaIntEqual(t *testing.T) {
	got := Katta(5, 5)
	want := 5
	if got != want {
		t.Errorf("Katta(5, 5):\nExpected:\n%d\n\nGot:\n%d", want, got)
	}
}
