package main

import "fmt"

func solve(s string, t string) bool {
	if len(s) != len(t) {
		return false
	}
	var counts [256]int
	for i := 0; i < len(s); i++ {
		counts[s[i]]++
		counts[t[i]]--
	}
	for _, c := range counts {
		if c != 0 {
			return false
		}
	}
	return true
}

func main() {
	fmt.Println(solve("anagram", "nagaram"))
}
