package main

import "fmt"

func multiplyMatrices(M int, N int, K int, A [][]int, B [][]int) [][]int {
	// TODO: masalani yeching
	return [][]int{}
}

func main() {
	fmt.Println(multiplyMatrices(2, 2, 2, [][]int{[]int{1, 2}, []int{3, 4}}, [][]int{[]int{5, 6}, []int{7, 8}}))
}
