package main

import "fmt"

func isMagicSquare(N int, matrix [][]int) bool {
	// TODO: masalani yeching
	return false
}

func main() {
	fmt.Println(isMagicSquare(3, [][]int{[]int{2, 7, 6}, []int{9, 5, 1}, []int{4, 3, 8}}))
}
