package main

import "fmt"

func solve(n int) int {
	if n <= 3 {
		return n - 1
	}
	dp := make([]int, n+1)
	dp[1] = 1
	dp[2] = 2
	dp[3] = 3
	for i := 4; i <= n; i++ {
		best := 0
		for j := 1; j < i; j++ {
			p := j * dp[i-j]
			if p > best {
				best = p
			}
		}
		dp[i] = best
	}
	return dp[n]
}

func main() {
	fmt.Println(solve(2))
}
