package main

import "fmt"

// faktorial n! ni rekursiya yordamida hisoblaydi.
func faktorial(n int) int {
	// TODO: bazaviy holat (n == 0) va rekursiv qadamni yozing
	return 0
}

func main() {
	fmt.Println(faktorial(5))
	fmt.Println(faktorial(0))
}
