package main

import "fmt"

func solve(buildings [][]int) [][]int {
	// TODO: masalani yeching
	return [][]int{}
}

func main() {
	fmt.Println(solve([][]int{[]int{2, 9, 10}, []int{3, 7, 15}, []int{5, 12, 12}, []int{15, 20, 10}, []int{19, 24, 8}}))
}
