package main

import "fmt"

// base64gaOtkaz matnni Base64 formatiga kodlaydi.
func base64gaOtkaz(matn string) string {
	// TODO: base64.StdEncoding.EncodeToString([]byte(matn)) ni qaytaring
	return ""
}

func main() {
	fmt.Println(base64gaOtkaz("Salom, Go!"))
}
