package main

import "fmt"

func minIndex(N int, nums []int) int {
	idx := 0
	for i := 1; i < N; i++ {
		if nums[i] < nums[idx] {
			idx = i
		}
	}
	return idx + 1
}

func main() {
	fmt.Println(minIndex(5, []int{3, 7, 2, 9, 1}))
}
