package main

import "fmt"

// yigindiArray uzunligi aniq belgilangan 5 ta elementli massivdagi
// barcha sonlarning yig'indisini qaytaradi.
func yigindiArray(sonlar [5]int) int {
	// TODO: massivdagi barcha 5 ta elementni yig'ing
	return 0
}

func main() {
	fmt.Println(yigindiArray([5]int{1, 2, 3, 4, 5}))
	fmt.Println(yigindiArray([5]int{10, 20, 30, 40, 50}))
}
