package main

import "fmt"

func solve(grid [][]int) bool {
	// TODO: masalani yeching
	return false
}

func main() {
	fmt.Println(solve([][]int{[]int{2, 0, 0, 1}, []int{0, 3, 1, 0}, []int{0, 5, 2, 0}, []int{4, 0, 0, 2}}))
}
