package main

import "fmt"

func solve(s string, wordDict []string) []string {
	// TODO: masalani yeching
	return []string{}
}

func main() {
	fmt.Println(solve("catsanddog", []string{"cat", "cats", "and", "sand", "dog"}))
}
