package main

import "fmt"

// qoldiq a ni b ga bo'lgandagi qoldiqni qaytaradi.
func qoldiq(a, b int) int {
	// TODO: a ni b ga bo'lgandagi qoldiqni qaytaring
	return 0
}

func main() {
	fmt.Println(qoldiq(17, 5))
	fmt.Println(qoldiq(10, 3))
}
