package main

import "fmt"

func minAndMax(a int, b int, c int) int {
	max := a
	if b > max {
		max = b
	}
	if c > max {
		max = c
	}
	min := a
	if b < min {
		min = b
	}
	if c < min {
		min = c
	}
	return max + min
}

func main() {
	fmt.Println(minAndMax(5, 3, 7))
}
