package main

import "fmt"

func solve(num int) bool {
	if num < 1 {
		return false
	}
	lo, hi := 1, num
	for lo <= hi {
		mid := lo + (hi-lo)/2
		sq := mid * mid
		if sq == num {
			return true
		} else if sq < num {
			lo = mid + 1
		} else {
			hi = mid - 1
		}
	}
	return false
}

func main() {
	fmt.Println(solve(16))
}
