package main

import "fmt"

func solve(edges [][]int) int {
	if edges[0][0] == edges[1][0] || edges[0][0] == edges[1][1] {
		return edges[0][0]
	}
	return edges[0][1]
}

func main() {
	fmt.Println(solve([][]int{[]int{1, 2}, []int{2, 3}, []int{4, 2}}))
}
