package main

import "fmt"

// yigindi2D qatorlar x ustunlar o'lchamli jadvaldagi katakchalar sonini qaytaradi.
func yigindi2D(qatorlar, ustunlar int) int {
	soni := 0
	// TODO: ichma-ich for tsikli yordamida har bir katakcha uchun soni++ qiling
	return soni
}

func main() {
	fmt.Println(yigindi2D(3, 4))
	fmt.Println(yigindi2D(2, 2))
}
