package main

import "fmt"

func kSumGreaterN(N int) string {
	K := 0
	sum := 0
	for sum < N {
		K++
		sum += K
	}
	return fmt.Sprintf("K=%d, sum=%d", K, sum)
}

func main() {
	fmt.Println(kSumGreaterN(10))
}
