package main

import (
	"testing"
)

func TestConvertMassCase1(t *testing.T) {
	got := convertMass(5, 1)
	want := 5
	if got != want {
		t.Errorf("convertMass(M=5, unit=1):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestConvertMassCase2(t *testing.T) {
	got := convertMass(5000, 3)
	want := 5
	if got != want {
		t.Errorf("convertMass(M=5000, unit=3):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestConvertMassCase3(t *testing.T) {
	got := convertMass(2, 4)
	want := 2000
	if got != want {
		t.Errorf("convertMass(M=2, unit=4):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
