package main

import "fmt"

func calculate(a int, b int, N int) int {
	switch N {
	case 1:
		return a + b
	case 2:
		return a - b
	case 3:
		return a * b
	case 4:
		return a / b
	}
	return 0
}

func main() {
	fmt.Println(calculate(10, 5, 1))
}
