package main

import "fmt"

// yigindi 1 dan n gacha bo'lgan barcha sonlarning yig'indisini qaytaradi.
func yigindi(n int) int {
	// TODO: for tsikli yordamida 1 dan n gacha bo'lgan sonlarni yig'ing
	return 0
}

func main() {
	fmt.Println(yigindi(5))
	fmt.Println(yigindi(10))
}
