package main

import (
	"reflect"
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve([]int{-1, 0, 1, 2, -1, -4})
	var want [][]int = [][]int{[]int{-1, -1, 2}, []int{-1, 0, 1}}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [-1,0,1,2,-1,-4]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve([]int{0, 1, 1})
	var want [][]int = [][]int{}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [0,1,1]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve([]int{0, 0, 0})
	var want [][]int = [][]int{[]int{0, 0, 0}}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [0,0,0]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
