package main

import (
	"fmt"
	"net/http"
	"net/http/httptest"
)

// salomHandler javob sifatida "Salom, Go!" matnini yozadi.
func salomHandler(w http.ResponseWriter, r *http.Request) {
	// TODO: fmt.Fprintln(w, ...) yordamida "Salom, Go!" ni javobga yozing
}

func main() {
	req := httptest.NewRequest("GET", "/salom", nil)
	rec := httptest.NewRecorder()

	salomHandler(rec, req)

	fmt.Println(rec.Body.String())
}
