package main

import "fmt"

// httpUsulTanla amalga mos HTTP usulini qaytaradi.
func httpUsulTanla(amal string) string {
	// TODO: switch yordamida amalga mos HTTP usulini qaytaring
	return ""
}

func main() {
	fmt.Println(httpUsulTanla("yaratish"))
	fmt.Println(httpUsulTanla("olish"))
	fmt.Println(httpUsulTanla("ochirish"))
}
