package main

import (
	"fmt"
	"strings"
)

func solve(password string) bool {
	if len(password) < 8 {
		return false
	}
	special := "!@#$%^&*()-+"
	var hasLower, hasUpper, hasDigit, hasSpecial bool
	for i := 0; i < len(password); i++ {
		c := password[i]
		switch {
		case c >= 'a' && c <= 'z':
			hasLower = true
		case c >= 'A' && c <= 'Z':
			hasUpper = true
		case c >= '0' && c <= '9':
			hasDigit = true
		case strings.IndexByte(special, c) != -1:
			hasSpecial = true
		}
		if i > 0 && password[i] == password[i-1] {
			return false
		}
	}
	return hasLower && hasUpper && hasDigit && hasSpecial
}

func main() {
	fmt.Println(solve("IloveLe3tcode!"))
}
