package main

import "fmt"

// bufferGaJoylash barcha qiymatlarni sig'imi yetarli buferlangan
// kanalga joylab, so'ng ularni orqaga slice qilib qaytaradi.
func bufferGaJoylash(qiymatlar []int) []int {
	// TODO: sig'imi len(qiymatlar) ga teng kanal yarating, to'ldiring, yoping, o'qing
	return nil
}

func main() {
	fmt.Println(bufferGaJoylash([]int{1, 2, 3}))
}
