package main

import "fmt"

func solve(key string, message string) string {
	// TODO: masalani yeching
	return ""
}

func main() {
	fmt.Println(solve("the quick brown fox jumps over the lazy dog", "vkbs bs t suepuv"))
}
