package main

import "fmt"

func solve(people [][]int) [][]int {
	// TODO: masalani yeching
	return [][]int{}
}

func main() {
	fmt.Println(solve([][]int{[]int{7, 0}, []int{4, 4}, []int{7, 1}, []int{5, 0}, []int{6, 1}, []int{5, 2}}))
}
