package main

import "fmt"

// kunNomi berilgan kun raqamiga mos nomni qaytaradi.
func kunNomi(kun int) string {
	// TODO: switch yordamida:
	// 1 -> "Dushanba"
	// 6 yoki 7 -> "Dam olish kuni"
	// boshqa hammasi -> "Oddiy kun"
	return ""
}

func main() {
	fmt.Println(kunNomi(1))
	fmt.Println(kunNomi(6))
	fmt.Println(kunNomi(3))
}
