package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve("Hello World")
	want := 1
	if got != want {
		t.Errorf("solve(S='Hello World'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve("Salom Dunyo Uzbekiston")
	want := 2
	if got != want {
		t.Errorf("solve(S='Salom Dunyo Uzbekiston'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve("NoSpaces")
	want := 0
	if got != want {
		t.Errorf("solve(S='NoSpaces'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
