package main

import "fmt"

// TeskariAylantir s ni rune'lar bo'yicha teskari aylantiradi.
func TeskariAylantir(s string) string {
	// TODO: []rune(s) ga aylantiring, teskari tartibda yangi slice yarating
	return ""
}

func main() {
	fmt.Println(TeskariAylantir("salom"))
}
