package main

import "fmt"

var scrambleMemo map[string]bool

func isScramble(s1, s2 string) bool {
	if s1 == s2 {
		return true
	}
	if len(s1) != len(s2) {
		return false
	}
	key := s1 + "#" + s2
	if v, ok := scrambleMemo[key]; ok {
		return v
	}

	var count [26]int
	for i := 0; i < len(s1); i++ {
		count[s1[i]-'a']++
		count[s2[i]-'a']--
	}
	for _, c := range count {
		if c != 0 {
			scrambleMemo[key] = false
			return false
		}
	}

	n := len(s1)
	for i := 1; i < n; i++ {
		if isScramble(s1[:i], s2[:i]) && isScramble(s1[i:], s2[i:]) {
			scrambleMemo[key] = true
			return true
		}
		if isScramble(s1[:i], s2[n-i:]) && isScramble(s1[i:], s2[:n-i]) {
			scrambleMemo[key] = true
			return true
		}
	}

	scrambleMemo[key] = false
	return false
}

func solve(s1 string, s2 string) bool {
	scrambleMemo = make(map[string]bool)
	return isScramble(s1, s2)
}

func main() {
	fmt.Println(solve("great", "rgeat"))
}
