package main

import "fmt"

// mosKeladimi yosh kamida 18 va ball kamida 60 bo'lsa true qaytaradi.
func mosKeladimi(yosh, ball int) bool {
	// TODO: yosh >= 18 VA ball >= 60 bo'lsa true qaytaring
	return false
}

func main() {
	fmt.Println(mosKeladimi(20, 70))
	fmt.Println(mosKeladimi(16, 90))
}
