package main

import "fmt"

func solve(dungeon [][]int) int {
	// TODO: masalani yeching
	return 0
}

func main() {
	fmt.Println(solve([][]int{[]int{-2, -3, 3}, []int{-5, -10, 1}, []int{10, 30, -5}}))
}
