package main

import (
	"reflect"
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve([]int{2, 0, 2, 1, 1, 0})
	var want []int = []int{0, 0, 1, 1, 2, 2}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [2,0,2,1,1,0]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve([]int{2, 0, 1})
	var want []int = []int{0, 1, 2}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [2,0,1]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve([]int{0})
	var want []int = []int{0}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [0]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
