package main

import "testing"

func TestStackPopOrder(t *testing.T) {
	s := &Stack{}
	s.Push(1)
	s.Push(2)
	s.Push(3)

	v, ok := s.Pop()
	if !ok || v != 3 {
		t.Errorf("1-Pop:\nExpected:\n3 true\n\nGot:\n%d %v", v, ok)
	}
	v, ok = s.Pop()
	if !ok || v != 2 {
		t.Errorf("2-Pop:\nExpected:\n2 true\n\nGot:\n%d %v", v, ok)
	}
	v, ok = s.Pop()
	if !ok || v != 1 {
		t.Errorf("3-Pop:\nExpected:\n1 true\n\nGot:\n%d %v", v, ok)
	}
}

func TestStackPopEmpty(t *testing.T) {
	s := &Stack{}
	v, ok := s.Pop()
	if ok || v != 0 {
		t.Errorf("Bo'sh stekdan Pop:\nExpected:\n0 false\n\nGot:\n%d %v", v, ok)
	}
}

func TestStackPushAfterEmpty(t *testing.T) {
	s := &Stack{}
	s.Pop()
	s.Push(10)
	v, ok := s.Pop()
	if !ok || v != 10 {
		t.Errorf("Pop bo'sh stekdan keyin Push(10), Pop:\nExpected:\n10 true\n\nGot:\n%d %v", v, ok)
	}
}
