package main

import "fmt"

// tezSaralash sonlarni quick sort algoritmi yordamida
// o'sish tartibida saralaydi (oxirgi element pivot sifatida ishlatiladi).
func tezSaralash(sonlar []int) []int {
	// TODO: bazaviy holat, pivot tanlash, ikkiga ajratish va rekursiv saralash
	return sonlar
}

func main() {
	fmt.Println(tezSaralash([]int{5, 2, 9, 1, 7, 3}))
}
