package main

import "fmt"

func isSymmetric(N int, matrix [][]int) bool {
	// TODO: masalani yeching
	return false
}

func main() {
	fmt.Println(isSymmetric(3, [][]int{[]int{1, 2, 3}, []int{2, 4, 5}, []int{3, 5, 6}}))
}
