package main

import "fmt"

// elementlarniFiltrlash royxat'dan prefiks bilan boshlanadigan
// elementlarni qaytaradi.
func elementlarniFiltrlash(royxat []string, prefiks string) []string {
	// TODO: bo'sh slice bilan boshlang, prefiksga mos elementlarni append qiling
	return nil
}

func main() {
	royxat := []string{"kitob-1", "kitob-2", "qalam-1", "daftar-1"}
	fmt.Println(elementlarniFiltrlash(royxat, "kitob"))
	fmt.Println(elementlarniFiltrlash(royxat, ""))
}
