package main

import "fmt"

// binarQidiruv saralangan sonlar ichidan maqsadning indeksini
// ikkilik qidiruv (binary search) yordamida topadi, topilmasa -1.
func binarQidiruv(sonlar []int, maqsad int) int {
	chap, ong := 0, len(sonlar)-1
	for chap <= ong {
		orta := (chap + ong) / 2
		if sonlar[orta] == maqsad {
			return orta
		} else if sonlar[orta] < maqsad {
			chap = orta + 1
		} else {
			ong = orta - 1
		}
	}
	return -1
}

func main() {
	sonlar := []int{1, 3, 5, 7, 9, 11, 13}
	fmt.Println(binarQidiruv(sonlar, 7))
	fmt.Println(binarQidiruv(sonlar, 4))
}
