package main

import "fmt"

func main() {
	// TODO: 1. name nomli o'zgaruvchi yarating, qiymati "Ali" bo'lsin
	// TODO: 2. age nomli o'zgaruvchi yarating, qiymati 25 bo'lsin
	// TODO: 3. Ikkalasini fmt.Println orqali, ikkita alohida qatorda chiqaring
}
