package main

import "fmt"

func solve(names []string, heights []int) []string {
	// TODO: masalani yeching
	return []string{}
}

func main() {
	fmt.Println(solve([]string{"Mary", "John", "Emma"}, []int{180, 165, 170}))
}
