package main

import "fmt"

func countInRange(A int, B int, N int, nums []int) int {
	// TODO: masalani yeching
	return 0
}

func main() {
	fmt.Println(countInRange(5, 10, 7, []int{3, 7, 12, 8, 2, 9, 6}))
}
