package main

import (
	"reflect"
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve(2)
	var want []int = []int{0, 1, 1}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(n = 2):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve(5)
	var want []int = []int{0, 1, 1, 2, 1, 2}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(n = 5):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
