package main

import "fmt"

func solve(items [][]string, ruleKey string, ruleValue string) int {
	// TODO: masalani yeching
	return 0
}

func main() {
	fmt.Println(solve([][]string{[]string{"phone", "blue", "pixel"}, []string{"computer", "silver", "lenovo"}, []string{"phone", "gold", "iphone"}}, "color", "silver"))
}
