package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve("level")
	want := true
	if got != want {
		t.Errorf("solve(S='level'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve("hello")
	want := false
	if got != want {
		t.Errorf("solve(S='hello'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve("noon")
	want := true
	if got != want {
		t.Errorf("solve(S='noon'):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
