package main

import "fmt"

func solve(strs []string) [][]string {
	// TODO: masalani yeching
	return [][]string{}
}

func main() {
	fmt.Println(solve([]string{"eat", "tea", "tan", "ate", "nat", "bat"}))
}
