package main

import "fmt"

func solve(nums []int) []string {
	result := []string{}
	n := len(nums)
	for i := 0; i < n; i++ {
		start := i
		for i+1 < n && nums[i+1] == nums[i]+1 {
			i++
		}
		if start == i {
			result = append(result, fmt.Sprintf("%d", nums[start]))
		} else {
			result = append(result, fmt.Sprintf("%d->%d", nums[start], nums[i]))
		}
	}
	return result
}

func main() {
	fmt.Println(solve([]int{0, 1, 2, 4, 5, 7}))
}
