package main

import "testing"

func TestQueueDequeueOrder(t *testing.T) {
	q := &Queue{}
	q.Enqueue(1)
	q.Enqueue(2)
	q.Enqueue(3)

	v, ok := q.Dequeue()
	if !ok || v != 1 {
		t.Errorf("1-Dequeue:\nExpected:\n1 true\n\nGot:\n%d %v", v, ok)
	}
	v, ok = q.Dequeue()
	if !ok || v != 2 {
		t.Errorf("2-Dequeue:\nExpected:\n2 true\n\nGot:\n%d %v", v, ok)
	}
	v, ok = q.Dequeue()
	if !ok || v != 3 {
		t.Errorf("3-Dequeue:\nExpected:\n3 true\n\nGot:\n%d %v", v, ok)
	}
}

func TestQueueDequeueEmpty(t *testing.T) {
	q := &Queue{}
	v, ok := q.Dequeue()
	if ok || v != 0 {
		t.Errorf("Bo'sh navbatdan Dequeue:\nExpected:\n0 false\n\nGot:\n%d %v", v, ok)
	}
}

func TestQueueEnqueueAfterEmpty(t *testing.T) {
	q := &Queue{}
	q.Dequeue()
	q.Enqueue(10)
	v, ok := q.Dequeue()
	if !ok || v != 10 {
		t.Errorf("Dequeue bo'sh navbatdan keyin Enqueue(10), Dequeue:\nExpected:\n10 true\n\nGot:\n%d %v", v, ok)
	}
}
