package main

import "fmt"

func solve(s string, words []string) []int {
	// TODO: masalani yeching
	return []int{}
}

func main() {
	fmt.Println(solve("barfoothefoobarman", []string{"foo", "bar"}))
}
