package main

import "fmt"

// selectSorovQur "SELECT * FROM <jadval> WHERE <ustun> > <qiymat>"
// ko'rinishidagi SQL so'rov matnini quradi.
func selectSorovQur(jadval, ustun string, qiymat int) string {
	// TODO: fmt.Sprintf yordamida SQL so'rov matnini quring
	return ""
}

func main() {
	fmt.Println(selectSorovQur("foydalanuvchilar", "yosh", 24))
}
