package main

import "fmt"

func oddIndexElements(N int, arr []int) []int {
	natija := []int{}
	for i := N - 1; i >= 0; i-- {
		if i%2 == 1 {
			natija = append(natija, arr[i])
		}
	}
	return natija
}

func main() {
	fmt.Println(oddIndexElements(6, []int{1, 2, 3, 4, 5, 6}))
}
