package main

import (
	"testing"
)

func TestChessMoveCase1(t *testing.T) {
	got := chessMove(1, 1, 1, 1, 5)
	want := true
	if got != want {
		t.Errorf("chessMove(fig=1, x1=1, y1=1, x2=1, y2=5):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestChessMoveCase2(t *testing.T) {
	got := chessMove(2, 1, 1, 4, 4)
	want := true
	if got != want {
		t.Errorf("chessMove(fig=2, x1=1, y1=1, x2=4, y2=4):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestChessMoveCase3(t *testing.T) {
	got := chessMove(4, 1, 1, 2, 3)
	want := true
	if got != want {
		t.Errorf("chessMove(fig=4, x1=1, y1=1, x2=2, y2=3):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
