package main

import "fmt"

// juftSonlar 1 dan n gacha bo'lgan barcha juft sonlarni qaytaradi.
func juftSonlar(n int) []int {
	// TODO: bo'sh slice bilan boshlang, tsikl ichida append qiling
	return nil
}

func main() {
	fmt.Println(juftSonlar(10))
	fmt.Println(juftSonlar(5))
}
