package main

import "fmt"

func solve(beginWord string, endWord string, wordList []string) [][]string {
	// TODO: masalani yeching
	return [][]string{}
}

func main() {
	fmt.Println(solve("hit", "cog", []string{"hot", "dot", "dog", "lot", "log", "cog"}))
}
