package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve([]int{3, 6, 9, 1})
	var want int = 3
	if got != want {
		t.Errorf("solve(nums = [3,6,9,1]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve([]int{10})
	var want int = 0
	if got != want {
		t.Errorf("solve(nums = [10]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve([]int{1, 10000000})
	var want int = 9999999
	if got != want {
		t.Errorf("solve(nums = [1,10000000]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
