package main

import "fmt"

func determinant(N int, matrix [][]int) int {
	if N == 1 {
		return matrix[0][0]
	}
	if N == 2 {
		return matrix[0][0]*matrix[1][1] - matrix[0][1]*matrix[1][0]
	}
	det := 0
	sign := 1
	for col := 0; col < N; col++ {
		minor := make([][]int, N-1)
		for i := 1; i < N; i++ {
			row := make([]int, 0, N-1)
			for j := 0; j < N; j++ {
				if j == col {
					continue
				}
				row = append(row, matrix[i][j])
			}
			minor[i-1] = row
		}
		det += sign * matrix[0][col] * determinant(N-1, minor)
		sign = -sign
	}
	return det
}

func main() {
	fmt.Println(determinant(2, [][]int{[]int{1, 2}, []int{3, 4}}))
}
