package main

import "fmt"

func hisobla() {
	// TODO: 1. defer yordamida "Funksiya tugadi" ni kechiktirib chop eting
	// TODO: 2. oddiy fmt.Println("Hisoblash boshlandi") yozing
}

func main() {
	hisobla()
}
