package main

import "fmt"

func findSaddlePoint(matrix [][]int) string {
	// TODO: masalani yeching
	return ""
}

func main() {
	fmt.Println(findSaddlePoint([][]int{[]int{1, 2, 3}, []int{4, 5, 6}, []int{7, 8, 9}}))
}
