package main

import (
	"fmt"
	"sort"
)

func solve(envelopes [][]int) int {
	n := len(envelopes)
	if n == 0 {
		return 0
	}
	sort.Slice(envelopes, func(i, j int) bool {
		if envelopes[i][0] != envelopes[j][0] {
			return envelopes[i][0] < envelopes[j][0]
		}
		return envelopes[i][1] > envelopes[j][1]
	})

	heights := make([]int, n)
	for i, e := range envelopes {
		heights[i] = e[1]
	}

	tails := []int{}
	for _, h := range heights {
		idx := sort.SearchInts(tails, h)
		if idx == len(tails) {
			tails = append(tails, h)
		} else {
			tails[idx] = h
		}
	}

	return len(tails)
}

func main() {
	fmt.Println(solve([][]int{{5, 4}, {6, 4}, {6, 7}, {2, 3}}))
}
