package main

import "fmt"

func rowMaximums(M int, N int, matrix [][]int) string {
	// TODO: masalani yeching
	return ""
}

func main() {
	fmt.Println(rowMaximums(3, 3, [][]int{[]int{1, 2, 3}, []int{4, 9, 6}, []int{7, 8, 5}}))
}
