package main

import "fmt"

func solve(board [][]string, word string) bool {
	// TODO: masalani yeching
	return false
}

func main() {
	fmt.Println(solve([][]string{[]string{"A", "B", "C", "E"}, []string{"S", "F", "C", "S"}, []string{"A", "D", "E", "E"}}, "ABCCED"))
}
