package main

import "fmt"

func solve(s string) string {
	if len(s) == 0 {
		return s
	}
	n := len(s)
	rev := make([]byte, n)
	for i := 0; i < n; i++ {
		rev[i] = s[n-1-i]
	}
	combined := s + "#" + string(rev)
	m := len(combined)
	fail := make([]int, m)
	for i := 1; i < m; i++ {
		j := fail[i-1]
		for j > 0 && combined[i] != combined[j] {
			j = fail[j-1]
		}
		if combined[i] == combined[j] {
			j++
		}
		fail[i] = j
	}
	longestPrefixSuffix := fail[m-1]
	suffixToAdd := string(rev[:n-longestPrefixSuffix])
	return suffixToAdd + s
}

func main() {
	fmt.Println(solve("aacecaaa"))
}
