package main

import "fmt"

// bolishVaQoldiq a ni b ga bo'lgandagi bo'linma va qoldiqni qaytaradi.
func bolishVaQoldiq(a, b int) (int, int) {
	// TODO: bo'linma va qoldiqni bir vaqtda qaytaring
	return 0, 0
}

func main() {
	b, q := bolishVaQoldiq(17, 5)
	fmt.Println(b, q)
}
