package main

import "fmt"

// ikkilantir sonlar slice'idagi har bir elementni indeks orqali ikki
// baravar oshiradi va shu (o'zgartirilgan) slice'ning o'zini qaytaradi.
func ikkilantir(sonlar []int) []int {
	// TODO: indeks orqali har bir elementni 2 ga ko'paytiring
	return sonlar
}

func main() {
	fmt.Println(ikkilantir([]int{1, 2, 3}))
	fmt.Println(ikkilantir([]int{5, 10}))
}
