package main

import "fmt"

// Belgi n musbat/manfiy/nol ekanligini matn qilib qaytaradi.
func Belgi(n int) string {
	// TODO: musbat/manfiy/nol holatlarini tekshiring
	return ""
}

func main() {
	fmt.Println(Belgi(5), Belgi(-3), Belgi(0))
}
