package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve(1, 2)
	var want int = 3
	if got != want {
		t.Errorf("solve(a = 1, b = 2):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve(2, 3)
	var want int = 5
	if got != want {
		t.Errorf("solve(a = 2, b = 3):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve(-1, 1)
	var want int = 0
	if got != want {
		t.Errorf("solve(a = -1, b = 1):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
