package main

import "fmt"

func isInsideRect(x1 int, y1 int, x2 int, y2 int, x int, y int) string {
	// TODO: masalani yeching
	return ""
}

func main() {
	fmt.Println(isInsideRect(0, 0, 10, 10, 5, 5))
}
