package main

import "fmt"

// toifa berilgan yosh bo'yicha "Voyaga yetgan" yoki "Voyaga yetmagan" qaytaradi.
func toifa(age int) string {
	// TODO: agar age >= 18 bo'lsa "Voyaga yetgan", aks holda "Voyaga yetmagan" qaytaring
	return ""
}

func main() {
	fmt.Println(toifa(20))
	fmt.Println(toifa(15))
}
