package main

import "fmt"

func countPosNeg(N int, arr []int) string {
	pos := 0
	neg := 0
	for i := 0; i < N; i++ {
		if arr[i] > 0 {
			pos++
		} else if arr[i] < 0 {
			neg++
		}
	}
	return fmt.Sprintf("pos=%d, neg=%d", pos, neg)
}

func main() {
	fmt.Println(countPosNeg(6, []int{3, -7, 2, -9, 1, 8}))
}
