package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve(121)
	var want bool = true
	if got != want {
		t.Errorf("solve(x = 121):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve(-121)
	var want bool = false
	if got != want {
		t.Errorf("solve(x = -121):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve(10)
	var want bool = false
	if got != want {
		t.Errorf("solve(x = 10):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
