package main

import (
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve([]int{3, 2, 1})
	var want int = 1
	if got != want {
		t.Errorf("solve(nums = [3,2,1]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve([]int{1, 2})
	var want int = 2
	if got != want {
		t.Errorf("solve(nums = [1,2]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve([]int{2, 2, 3, 1})
	var want int = 1
	if got != want {
		t.Errorf("solve(nums = [2,2,3,1]):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
