package main

import "fmt"

// qatorlarSoni matn ichidagi qatorlar sonini qaytaradi.
func qatorlarSoni(matn string) int {
	// TODO: bufio.Scanner yordamida qatorlarni sanang
	return 0
}

func main() {
	fmt.Println(qatorlarSoni("a\nb\nc"))
	fmt.Println(qatorlarSoni("faqat bitta qator"))
}
