package main

import (
	"reflect"
	"testing"
)

func TestSolveCase1(t *testing.T) {
	got := solve([]int{1, 3, -1, -3, 5, 3, 6, 7}, 3)
	var want []int = []int{3, 3, 5, 5, 6, 7}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [1,3,-1,-3,5,3,6,7], k = 3):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase2(t *testing.T) {
	got := solve([]int{1}, 1)
	var want []int = []int{1}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [1], k = 1):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
func TestSolveCase3(t *testing.T) {
	got := solve([]int{9, 11}, 2)
	var want []int = []int{11}
	if !reflect.DeepEqual(got, want) {
		t.Errorf("solve(nums = [9,11], k = 2):\nExpected:\n%v\n\nGot:\n%v", want, got)
	}
}
