package main

import "fmt"

// jamiHisobla har bir son uchun goroutine ishga tushirib, kvadratini
// hisoblaydi va WaitGroup yordamida hammasi tugaguncha kutib,
// barcha kvadratlarning yig'indisini qaytaradi.
func jamiHisobla(sonlar []int) int {
	// TODO: WaitGroup + kanal yordamida parallel hisoblang va yig'indini qaytaring
	return 0
}

func main() {
	fmt.Println(jamiHisobla([]int{1, 2, 3, 4}))
}
