package main

import "fmt"

// dsnQur PostgreSQL ulanish satrini (DSN) quradi.
func dsnQur(host string, port int, user, parol, dbnomi string) string {
	// TODO: fmt.Sprintf yordamida DSN satrini quring
	return ""
}

func main() {
	fmt.Println(dsnQur("localhost", 5432, "golearn_user", "parol123", "golearn_db"))
}
