package main

import "fmt"

func main() {
	salom := "salom dunyo"
	// TODO: 1. strings.ToUpper yordamida katta harflarga o'tkazib chiqaring
	// TODO: 2. strings.Contains yordamida "dunyo" so'zi borligini tekshirib chiqaring
}
